.nav-link {
  font-size: 18px;
}
.subheading-text {
  font-family: 'Helvetica', sans-serif;
  font-size: 2em;
}

.social-container {
  max-width: 300px;
}

.services .bi {
  width: 9em;
  height: 9em;
}

.christmas-bg {
  background-image: url(../img/christmas-bg.svg);
}

.text-white {
  color: white;
}

.btn-cta {
  font-size: 24px;
}

.service-icon {
  color: blue;
}

.leading-bar::after {
  content: "";
  display: block;
  position: relative;
  width: 100px;
  height: 3px;
  margin-top: 10px;
  background-color: paleturquoise;
}

.card-body {
  height: 300px;
}

.modal-image-container {
  height: 70vh;
}

.work-card {
  width: 200px;
}