.nav-link {
  font-size: 21px;
}
.subheading-text {
  font-family: 'Helvetica', sans-serif;
  font-size: 5em;
}

.social-container {
  max-width: 303px;
}

.services .bi {
  width: 12em;
  height: 12em;
}

.christmas-bg {
  background-image: url(../images/purple-neon-circuit-banner.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.text-white {
  color: white;
}

.btn-cta {
  font-size: 27px;
}

.service-icon {
  color: blue;
}

.leading-bar::after {
  content: "";
  display: block;
  position: relative;
  width: 103px;
  height: 6px;
  margin-top: 13px;
  background-color: paleturquoise;
}

.card-body {
  height: 303px;
}

.modal-image-container {
  height: 73vh;
}

.work-card {
  width: 203px;
}

.btn-contact {
  color: white;
  text-decoration: none;
}

.btn-contact:hover {
  color: #f6f3f3;
}

.small-heading {
  margin: 0.5em 0;
  font-size: 20px;
  font-weight: bold;
}

.form-label {
  font-weight: 703 ;
  font-size: 21px;
}

.form-control {

}

.contact-information span{
  display: block;
  font-size: 22px;
  margin-bottom: 0.5em;

}